@use '../mixins' as *;
@use '../variables' as *;

.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 502px;
  padding: $spacing-md $spacing-sm;
  border: 1px solid #b6b1b1;
  border-radius: $border-radius-default;
  background-color: $color-card-background;
  text-align: left;
  transition: box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 1;

  @include card-shadow;

  @include responsive(mobile-lg) {
    min-height: 200px;
    padding: $spacing-xs; 
    
    .review-card__company-name,
    .review-card__text,
    .review-card__reviewer-name,
    .review-card__reviewer-position {
      font-size: 0.9em; 
    }
  }

  @include responsive(tablet-sm) {
    min-height: 450px;
    padding: $spacing-xs $spacing-xs;
    .review-card__company-name,
    .review-card__text,
    .review-card__reviewer-name,
    .review-card__reviewer-position {
      font-size: 0,9em;
    }
  }

  @include responsive(tablet-md) {
    width: $card-base-width;
    max-width: $card-base-width;
    height: 502px;
    padding: $spacing-sm $spacing-xs;
    flex-shrink: 0;
    flex-grow: 0;

    .review-card__company-name {
      font-size: $font-size-company-name;
    }
    .review-card__text {
      font-size: $font-size-review-text;
    }
    .review-card__reviewer-name {
      font-size: $font-size-reviewer-name;
    }
    .review-card__reviewer-position {
      font-size: $font-size-reviewer-position;
    }
  }

  @include responsive(desktop-lg) {
    width: $card-base-width;
    max-width: $card-base-width;
    flex-shrink: 0;
    flex-grow: 0;
    height: 502px;
  }

  @include responsive(desktop-xl) {
    width: $card-base-width;
    max-width: $card-base-width;
    flex-shrink: 0;
    flex-grow: 0;
    height: 502px;
  }

  &__company-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    min-height: 91px;
  }

  &__company-logo--1 {
    width: 157.34px;
    margin-right: $spacing-xxs;

    @include logo-style(91px, 5px);

    @include responsive(mobile-lg) {
      width: 79px;
      margin-right: 10px;

      @include logo-style(45px, 5px);
    }
  }

  &__company-logo--2 {
    width: 229.24px;
    margin-right: $spacing-xxs;

    @include logo-style(44.67px, 5px);

    @include responsive(mobile-lg) {
      width: 114px;
      margin-right: 10px;

      @include logo-style(22px, 5px);
    }
  }

  &__company-logo--3 {
    width: 272.37px;
    margin-right: $spacing-xxs;

    @include logo-style(62px, 5px);

    @include responsive(mobile-lg) {
      width: 136px;
      margin-right: 10px;

      @include logo-style(31px, 5px);
    }
  }

  &__company-name {
    margin: 0;
    color: $color-primary;
    font-size: $font-size-company-name;
    font-weight: 700;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;

    @include responsive(mobile-lg) {
      font-size: 1.1em;
    }
  }

  &__text {
    min-height: 100px;
    color: $color-text;
    font-size: $font-size-review-text;
    line-height: 1.75;
    margin-bottom: $spacing-xs;
    flex-grow: 1;
    padding-right: 15px;
    padding-bottom: 10px;

    @include responsive(mobile-lg) {
      font-size: 1.1em;
      line-height: 1.6;
    }
  }

  &__quote-icon {
    position: absolute;
    right: 30px;
    bottom: 105px;
    z-index: 0;
    width: $quote-width;
    height: $quote-height;
    background-image: url('../../images/quote-icon.svg');
    opacity: 0.8;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include responsive(tablet-md) {
      right: 30px;
      bottom: 115px;
      width: 25px;
      height: 25px;
    }

    @include responsive(mobile-lg) {
      right: 15px;
      bottom: 127px;
      width: 15px;
      height: 15px;
    }
  }

  &__reviewer-info {
    display: flex;
    align-items: center;
    margin-top: $spacing-xxs;
  }

  &__reviewer-photo {
    width: 60.49px;
    height: 60.49px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 31px;
    margin-left: 6px;

    @include responsive(tablet-sm) {
      width: 60.49px;
      height: 60.49px;
      margin-right: 30px;
    }

    @include responsive(mobile-lg) {
      width: 40px;
      height: 40px;
    }
  }

  &__reviewer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
  }

  &__reviewer-name {
    margin: 0;
    color: $color-primary;
    font-size: $font-size-reviewer-name;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;

    @include responsive(tablet-sm) {
      font-size: 1.3em;
    }

    @include responsive(mobile-lg) {
      font-size: 1.1em;
      line-height: 14px;
    }
  }

  &__reviewer-position {
    max-width: 240px;
    margin: 0;
    color: $color-primary;
    font-size: $font-size-reviewer-position;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;

    @include responsive(tablet-sm) {
      font-size: 1.1em;
    }

    @include responsive(mobile-lg) {
      font-size: 1em;
      line-height: 14px;
    }
  }
}
