@use './variables' as *;
@use './mixins' as *;

* *::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $color-secondary-bg;
  color: $color-text;
  font-family: 'Space Grotesk', sans-serif;
}

.heading-primary {
  color: $color-primary;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

@include responsive(tablet-sm) {
  .heading-primary {
    font-size: 2em;
    margin-bottom: 40px;
  }
}

@include responsive(tablet-md) {
  .heading-primary {
    font-size: 2.5em;
    margin-bottom: 50px;
  }
}

@include responsive(desktop-lg) {
  .heading-primary {
    font-size: 3em;
    margin-bottom: 70px;
  }
}
